### 以下项都需要修改
## 网页和设备信息
# 修改为自己的mqtt broker ip 地址
MQTT_BROKER="xxx"
MQTT_PORT=1883
# 修改为自己的mqtt登录用户名，密码,没有填空
MQTT_USRNAME="xxxx"
MQTT_PASSWD="xxxx"
WEB1_VIEW_WIDTH=480
WEB1_VIEW_HEIGHT=480
SCREEN1_URL=""
SCREEN1_WIDTH=480
SCREEN1_HEIGHT=480
SCREEN1_USRNAME=""
SCREEN1_PASSWD=""
SCREEN1_SEND_TOPIC=""
SCREEN1_RCV_TOPIC=""
SCREEN1_DUMP_HZ=2
SCREEN1_SEND_BUFFER=2000
SCREEN1_JPEG_QUALITY=90